* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --swiper-theme-color: #8506A9;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #333333;
}

nav {
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.call__phone {
  margin-left: 24px;
  text-decoration: none;
  color: #4A4A4A;
}

.call__outline-btn {
  padding: 8px 24px;
  border: 2px solid #8506A9;
  border-radius: 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #8506A9;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.call__outline-btn:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.call__outline-btn:active {
  font-size: 10px;
  line-height: 12px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__item-link {
  font-size: 14px;
  line-height: 143%;
  color: #4A4A4A;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.menu__item-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #8506A9;
  height: 2px;
  -webkit-transition-property: left, right;
  -o-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}

.menu__item-link:hover::before,
.menu__item-link:focus::before,
.menu__item-link:active::before {
  left: 0;
  right: 0;
}

.menu__item-link:active {
  color: #8506A9;
}

.burger {
  display: none;
  cursor: pointer;
}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  display: none;
}

.modal__wrapper .modal {
  background: white;
  padding: 25px;
}

.modal__wrapper .modal__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.modal__wrapper .modal__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  letter-spacing: 3px;
  background: #8506A9;
  border-radius: 10px;
  padding: 22px 27px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.modal__btn:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.modal__img img {
  max-width: 100%;
}

.form__label {
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #121621;
  opacity: 0.4;
  margin-bottom: 8px;
}

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__col:not(:last-child) {
  margin-bottom: 16px;
}

.form__input {
  max-width: 420px;
  width: 100%;
  padding: 18px 16px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
}

.form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__button {
  margin-top: 30px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFFFF;
  padding: 14px 0;
  max-width: 420px;
  width: 100%;
  background: #8506A9;
  border-radius: 10px;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.form__button:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.form__text {
  max-width: 480px;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #585858;
}

.form__text a {
  text-decoration: underline;
  color: inherit;
}

.section__hero {
  background-color: #444444;
  padding: 150px 0;
}

.hero__inner {
  max-width: 791px;
}

.hero__title {
  font-weight: 700;
  font-size: 66px;
  line-height: 118%;
  color: #F5F5F5;
  margin-bottom: 50px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #F5F5F5;
  margin-bottom: 25px;
  max-width: 550px;
}

.hero__text {
  color: #F5F5F5;
  margin-bottom: 30px;
}

.works__title {
  margin: 120px 0;
}

.gallery {
  padding-bottom: 80px;
  overflow: hidden;
}

.gallery__title {
  -ms-flex-item-align: center;
      align-self: center;
}

.gallery__item {
  max-width: 474px;
}

.gallery__item img {
  max-width: 100%;
  height: auto;
}

.swiper-button-prev {
  left: 25%;
  margin-left: -100px;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.swiper-button-prev::after {
  font-size: 40px;
}

.swiper-button-prev:active {
  background-color: #8506A9;
}

.swiper-button-prev:active::after {
  color: #fff;
}

.swiper-button-next {
  right: 25%;
  margin-right: -100px;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.swiper-button-next:active {
  background-color: #8506A9;
}

.swiper-button-next:active::after {
  color: #fff;
}

.swiper-button-next::after {
  font-size: 40px;
}

.fslightbox-nav {
  display: none;
}

.fslightbox-container {
  background: #fff !important;
}

.fslightbox-slide-btn {
  background: #fff !important;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}

.fslightbox-svg-path {
  fill: #8506A9 !important;
}

.section__location {
  padding: 60px 0 80px 0;
  position: relative;
}

.section__location::before {
  content: "";
  position: absolute;
  background-image: url("../img/location-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.location__title {
  margin-bottom: 80px;
}

.location__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  margin-bottom: 60px;
}

.location__image a {
  z-index: 10;
}

.location__image figure {
  max-width: 395px;
  max-height: 349px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.location__image figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

.location__image figcaption p {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #2c3e50;
  text-transform: uppercase;
}

.location__image figcaption p::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
}

.location__image img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.location__image figure:hover figcaption {
  background: rgba(255, 255, 255, 0.3);
}

.location__image figcaption:hover p {
  opacity: 1;
  top: 0;
}

.location__image figcaption:hover p:after {
  width: 50%;
}

.location__image figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

.location__btn {
  margin: 0 auto;
  border-radius: 10px;
  background: #8506A9;
  padding: 14px 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.location__btn:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.modal__wrapper-location {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  display: none;
}

.modal__wrapper-location .modal {
  background: white;
  padding: 25px;
}

.modal__wrapper-location .modal__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.modal__wrapper-location .modal__close-location {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__btn-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.modal__btn-location:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.modal__img img {
  max-width: 100%;
}

.form__label {
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #121621;
  opacity: 0.4;
  margin-bottom: 8px;
}

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__col:not(:last-child) {
  margin-bottom: 16px;
}

.form__input {
  max-width: 420px;
  width: 100%;
  padding: 18px 16px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
}

.form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__button {
  margin-top: 30px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFFFF;
  padding: 14px 0;
  max-width: 420px;
  width: 100%;
  background: #8506A9;
  border-radius: 10px;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.form__button:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.form__text {
  max-width: 480px;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #585858;
}

.form__text a {
  text-decoration: underline;
  color: inherit;
}

.select {
  max-width: 420px;
  width: 100%;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.select__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: -1;
  display: none;
}

.select.open .select__dropdown {
  background-color: #fff;
  display: block;
}

.select.open .select__input {
  border-bottom: none;
}

.select.open .select__backdrop {
  display: block;
}

.select__input {
  border: 1px solid #ccc;
  height: 53px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__input span {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.select__input .select__arrow {
  pointer-events: none;
  width: 15px;
}

.select__input .select__arrow.open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select__input span {
  pointer-events: none;
}

.select__dropdown {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  top: 53px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.select__dropdown .select__list .select__item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.select__dropdown .select__list .select__item.selected {
  background-color: #FFFFFF;
}

.select__dropdown .select__list .select__item:hover {
  background-color: #eee;
  -webkit-transition: 0.15 background-color ease-in;
  -o-transition: 0.15 background-color ease-in;
  transition: 0.15 background-color ease-in;
}

.section__registration {
  overflow: hidden;
  padding: 180px 0 50px 0;
}

.registration__title {
  margin-bottom: 80px;
}

.registration__video-popup {
  width: 100vw;
  height: 74vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #999999;
}

.registration__video-popup img {
  max-width: 100%;
  height: auto;
}

.section__services {
  padding: 60px 0 80px 0;
}

.services__title {
  margin-bottom: 80px;
}

.services__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.services__item:nth-child(1) {
  grid-area: 1/1/2/2;
}

.services__item:nth-child(2) {
  grid-area: 1/2/3/3;
}

.services__item:nth-child(3) {
  grid-area: 1/3/2/4;
}

.services__item:nth-child(4) {
  grid-area: 2/1/3/2;
}

.services__item:nth-child(5) {
  grid-area: 2/3/4/4;
}

.services__item:nth-child(6) {
  grid-area: 3/1/5/2;
}

.services__item:nth-child(7) {
  grid-area: 3/2/4/3;
}

.services__item:nth-child(8) {
  grid-area: 4/2/5/4;
}

.services__item:nth-child(9) {
  grid-area: 5/1/6/2;
}

.services__item:nth-child(10) {
  grid-area: 5/2/6/3;
}

.services__item:nth-child(11) {
  grid-area: 5/3/6/4;
}

.services__item figure {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
}

.services__item figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

.services__item figcaption p {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
}

.services__item img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.services__item figure:hover figcaption {
  background: rgba(255, 255, 255, 0.3);
}

.services__item figcaption:hover p {
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  opacity: 1;
  top: 0;
}

.services__item figcaption:hover p:after {
  width: 50%;
}

.services__item figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

.more-text {
  display: none;
}

.more-text-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #8506A9;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

/* toggle the class="show-more" in JS 
So when it's active the dots will disappear.
*/

.ideas__text.show-more .dots {
  display: none;
}

.ideas__text.show-more .more-text {
  display: inline;
}

.section__ideas {
  background-color: #b3f5f5;
  padding: 60px 0;
}

.ideas__title {
  margin-bottom: 30px;
}

.ideas__text p:not(:last-child) {
  margin-bottom: 30px;
}

.section__price {
  padding: 120px 0 180px 0;
}

.price__title {
  margin-bottom: 100px;
}

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.price__items-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  height: auto;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.price__items-body:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.price__items-body:hover .price__btn {
  background-color: #56026E;
}

.price__items-body--mini {
  background-color: #b3f5f5;
}

.price__list {
  padding: 45px 40px 0;
}

.price__item {
  margin-bottom: 15px;
}

.price__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #4A4A4A;
  margin-bottom: 15px;
}

.price__item-price {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 5px;
}

.price__item-location {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #838383;
  margin-bottom: 40px;
}

.price__item-check {
  padding-left: 24px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
}

.price__btn {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
  border-radius: 10px;
  background-color: #8506A9;
  color: #fff;
  line-height: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0 15px;
  margin-bottom: 40px;
}

.price__items-body--standart {
  background-color: #86f3e1;
}

.price__items-body--maxi {
  background-color: #c7b3f5;
}

.add__list {
  margin: 30px 15px 0 15px;
  text-align: center;
}

.add__item {
  margin-bottom: 50px;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #333333;
}

.add__item:not(:first-child) {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #C2C2C2;
}

.add__item:first-child {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

.add__item:not(:last-child) {
  margin-right: 10px;
}

.modal__wrapper-certificate {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  display: none;
}

.modal__wrapper-certificate .modal {
  background: white;
  padding: 25px;
}

.modal__wrapper-certificate .modal__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.modal__wrapper-certificate .modal__close-certificate {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__btn-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  letter-spacing: 3px;
  background: #8506A9;
  border-radius: 10px;
  padding: 22px 27px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.modal__btn-certificate:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.modal__img img {
  max-width: 100%;
}

.form__label {
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #121621;
  opacity: 0.4;
  margin-bottom: 8px;
}

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__col:not(:last-child) {
  margin-bottom: 16px;
}

.form__input {
  max-width: 420px;
  width: 100%;
  padding: 18px 16px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
}

.form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__input::placeholder {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B1B1B1;
  opacity: 0.4;
}

.form__button {
  margin-top: 30px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFFFF;
  padding: 14px 0;
  max-width: 420px;
  width: 100%;
  background: #8506A9;
  border-radius: 10px;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color, cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
}

.form__button:hover {
  color: #F5F5F5;
  background-color: #56026E;
}

.form__text {
  max-width: 480px;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #585858;
}

.form__text a {
  text-decoration: underline;
  color: inherit;
}

.section__certificate {
  padding: 90px 0;
}

.certificate__title {
  margin-bottom: 70px;
}

.certificate__content {
  background: #b3f5f5;
  border-radius: 25px;
}

.certificate__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.certificate__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 110px 0 110px 120px;
}

.certificate__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.certificate__item-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #C1C1C1;
}

.certificate__item-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 1px;
  color: #4A4A4A;
  margin-bottom: 50px;
}

.certificate__item--check svg {
  margin-right: 15px;
  min-height: 24px;
  min-width: 24px;
  -ms-flex-item-align: start;
      align-self: start;
}

.certificate__get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 80px;
  text-align: center;
  background-image: url("../img/certificate.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom right;
  z-index: 3;
}

.certificate__text {
  max-width: 340px;
  margin-bottom: 25px;
}

.certificate__btn {
  margin-bottom: 40px;
  width: 100%;
}

.section__form {
  padding: 100px 0 150px 0;
}

.form {
  background: #F2F4F4;
  border-radius: 25px;
  padding: 80px 35px;
  position: absolute;
  max-width: 550px;
  height: 110%;
  bottom: -5%;
  right: 0;
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form__img img {
  max-width: 100%;
}

.form__body {
  background: #F2F4F4;
  border-radius: 25px;
}

.form__title {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 30px;
}

.form__input--form {
  max-width: 100%;
  width: 100%;
}

.form__button--form {
  max-width: 100%;
  width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #B1B1B1;
}

.footer__logo svg {
  max-width: 170px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 50px;
}

.footer__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #4A4A4A;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__link:hover {
  color: #56026E;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 60px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-left: 30px;
}

.socials__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.socials__link:hover svg path {
  fill: #56026E;
}

.socials__link:active svg path {
  fill: #56026E;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }

  .certificate__items {
    padding: 80px 0 80px 80px;
  }

  .certificate__item-title {
    font-size: 42px;
  }

  .certificate__get {
    padding-right: 50px;
  }

  .form {
    padding: 60px 30px;
    max-width: 450px;
  }
}

@media screen and (max-width: 1160px) {
  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 23;
  }

  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .call {
    z-index: 23;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu {
    position: fixed;
    background: rgba(15, 15, 15, 0.7);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 60px;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: #8506A9;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: #8506A9;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #8506A9;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #8506A9;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__item-link {
    margin-right: 10px;
    color: #F5F5F5;
  }
}

@media screen and (max-width: 1160px) and (max-width: 767.98px) {
  .logo a svg {
    max-width: 80px;
  }

  .call {
    text-align: left;
  }

  .call__outline-btn {
    padding: 0;
    border: none;
    font-size: 0;
    line-height: 0;
    position: relative;
  }

  .call__outline-btn:active {
    font-size: 0;
    line-height: 0;
  }

  .call__outline-btn::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    top: -19px;
    right: 0;
    background-image: url("../img/call.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

@media screen and (max-width: 1160px) and (max-width: 767.98px) and (max-width: 479.98px) {
  .logo a svg {
    max-width: 65px;
  }
}

@media screen and (max-width: 1160px) and (max-width: 479.98px) {
  .call {
    font-size: 14px;
    line-height: 143%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .call__outline-btn::before {
    width: 20px;
    height: 20px;
    top: -15px;
    right: -10px;
  }

  .call__phone {
    margin-left: 15px;
  }
}

@media (max-width: 1150px) {
  .footer__logo svg {
    max-width: 150px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .section__hero {
    padding: 100px 0;
  }

  .hero__title {
    font-size: 58px;
  }

  .hero__subtitle {
    font-size: 32px;
  }

  .works__title {
    margin: 70px 0;
  }

  .location__title {
    margin-bottom: 50px;
  }

  .location__images {
    margin-bottom: 40px;
  }

  .section__registration {
    padding: 100px 0 50px 0;
  }

  .services__title {
    margin-bottom: 50px;
  }

  .services__body {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .price__list {
    padding: 20px 20px 0;
  }

  .price__item {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .price__item-title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .price__item-price {
    font-size: 40px;
  }

  .price__item-location {
    margin-bottom: 20px;
  }

  .price__btn {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 14px;
  }

  .add__list {
    margin: 15px 10px 0 10px;
  }

  .add__item {
    margin-bottom: 30px;
  }

  .section__certificate {
    padding: 70px 0;
  }

  .certificate__title {
    margin-bottom: 50px;
  }

  .certificate__items {
    padding: 50px 0 50px 50px;
  }

  .certificate__item {
    margin-bottom: 15px;
  }

  .certificate__item-title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .certificate__get {
    padding-right: 20px;
  }

  .certificate__img img {
    max-width: 100%;
  }

  .certificate__text {
    margin-bottom: 15px;
  }

  .certificate__btn {
    margin-bottom: 20px;
  }

  .form {
    padding: 30px 15px;
    max-width: 400px;
  }

  .form__title {
    font-size: 26px;
  }

  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26%;
            flex: 0 1 26%;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .certificate__img img {
    max-width: 80%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .title {
    font-size: 30px;
  }

  .modal__wrapper .modal__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .modal__btn {
    padding: 18px 22px;
    font-size: 14px;
  }

  .form__label {
    font-size: 14px;
  }

  .form__input {
    padding: 12px 12px;
  }

  .form__button {
    margin-top: 15px;
    font-size: 14px;
    padding: 12px 0;
  }

  .section__hero {
    padding: 70px 0;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .hero__subtitle {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .hero__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .gallery__item {
    max-width: 300px;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .location__images {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .location__btn {
    padding: 10px 30px;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .modal__wrapper-location .modal__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .modal__btn-location {
    padding: 18px 22px;
    font-size: 14px;
  }

  .form__label {
    font-size: 14px;
  }

  .form__input {
    padding: 12px 12px;
  }

  .form__button {
    margin-top: 15px;
    font-size: 14px;
    padding: 12px 0;
  }

  .section__registration {
    padding: 50px 0 50px 0;
  }

  .registration__title {
    margin-bottom: 50px;
  }

  .registration__video-popup {
    height: 50vh;
  }

  .registration__video-popup img {
    max-width: 80%;
    height: auto;
  }

  .section__services {
    padding: 40px 0 50px 0;
  }

  .services__title {
    margin-bottom: 40px;
  }

  .services__body {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  .services__item p {
    font-size: 14px;
  }

  .services__item figcaption p {
    opacity: 1;
    top: -20px;
    vertical-align: bottom;
  }

  .services__item figcaption p::after {
    content: none;
  }

  .services__item figure:hover figcaption {
    background: inherit;
  }

  .section__price {
    padding: 70px 0 70px 0;
  }

  .price__title {
    margin-bottom: 50px;
  }

  .price__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .price__items-body:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  .price__items-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .modal__wrapper-certificate .modal__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .modal__btn-certificate {
    padding: 18px 22px;
    font-size: 14px;
  }

  .form__label {
    font-size: 14px;
  }

  .form__input {
    padding: 12px 12px;
  }

  .form__button {
    margin-top: 15px;
    font-size: 14px;
    padding: 12px 0;
  }

  .section__certificate {
    padding: 50px 0;
  }

  .certificate__title {
    margin-bottom: 30px;
  }

  .certificate__body {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }

  .certificate__items {
    padding: 20px 0 20px 20px;
  }

  .certificate__item {
    font-size: 14px;
  }

  .certificate__item-title {
    font-size: 24px;
    letter-spacing: 0;
  }

  .certificate__item--check svg {
    margin-right: 10px;
  }

  .certificate__get {
    padding-right: 10px;
  }

  .certificate__text {
    font-size: 14px;
  }

  .certificate__text {
    max-width: 250px;
  }

  .certificate__btn {
    width: 80%;
  }

  .section__form {
    padding: 50px 0 100px 0;
  }

  .form {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }

  .form__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__img {
    margin-bottom: 20px;
  }

  .form__button--form {
    width: 50%;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .form__text {
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .footer__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
  }

  .footer__link {
    font-size: 14px;
  }
}

@media (max-width: 607px) {
  .certificate__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .certificate__get {
    padding-right: 10px;
    padding-left: 10px;
  }

  .certificate__text {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .title {
    font-size: 22px;
  }

  .modal__wrapper .modal__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal__btn {
    width: 100%;
    letter-spacing: 1px;
  }

  .modal__img {
    display: none;
  }

  .form__input {
    padding: 10px;
  }

  .form__text {
    font-size: 11px;
  }

  .section__hero {
    padding: 30px 0;
  }

  .hero__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .hero__text {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .works__title {
    margin: 30px 0;
  }

  .gallery {
    padding-bottom: 50px;
  }

  .gallery__item {
    max-width: 250px;
  }

  .section__location {
    padding: 30px 0 30px 0;
  }

  .location__title {
    margin-bottom: 20px;
  }

  .location__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    margin-bottom: 30px;
  }

  .modal__wrapper-location .modal__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal__btn-location {
    width: 100%;
    letter-spacing: 1px;
  }

  .modal__img {
    display: none;
  }

  .form__input {
    padding: 10px;
  }

  .form__text {
    font-size: 11px;
  }

  .section__registration {
    padding: 30px 0 30px 0;
  }

  .registration__title {
    margin-bottom: 20px;
  }

  .registration__video-popup {
    height: 40vh;
  }

  .registration__video-popup img {
    max-width: 50%;
    height: auto;
  }

  .registration__video-popup a {
    text-align: center;
  }

  .section__services {
    padding: 10px 0 30px 0;
  }

  .services__title {
    margin-bottom: 20px;
  }

  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__item p {
    font-size: 12px;
  }

  .section__ideas {
    padding: 30px 0;
  }

  .ideas__title {
    margin-bottom: 15px;
  }

  .ideas__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .section__price {
    padding: 30px 0 30px 0;
  }

  .price__title {
    margin-bottom: 20px;
  }

  .price__list {
    padding: 5px 5px 0;
  }

  .price__item-title {
    margin-bottom: 5px;
  }

  .price__item-price {
    font-size: 24px;
  }

  .price__btn {
    margin-bottom: 10px;
    max-width: 80%;
  }

  .add__list {
    margin: 0;
  }

  .add__item {
    margin-bottom: 10px;
  }

  .add__item:not(:last-child) {
    margin-right: 5px;
  }

  .modal__wrapper-certificate .modal__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal__btn-certificate {
    width: 100%;
    letter-spacing: 1px;
  }

  .modal__img {
    display: none;
  }

  .form__input {
    padding: 10px;
  }

  .form__text {
    font-size: 11px;
  }

  .certificate__item-title {
    font-size: 22px;
  }

  .section__form {
    padding: 30px 0 50px 0;
  }

  .form__title {
    margin-bottom: 10px;
    font-size: 22px;
    margin-top: 10px;
  }

  .form__button--form {
    width: 100%;
  }

  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0 15px 0;
  }

  .footer__list {
    row-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .footer__socials {
    padding: 15px 0 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .socials__item {
    margin-left: 15px;
  }
}
